<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Kaiyang Zhao is an independent audio developer, composer, and music producer, who is currently studying 
          at Beijing Foreign Studies University. Kaiyang has developed several Max for Live devices that have been 
          downloaded hundreds of times on maxforlive.com. He has also designed other computational or interactive 
          music installations using Max. Besides, he has released many original music pieces on the internet. </p>
      </div>
      <div class="col-lg-4">
        <p>Skill and proficiency: proficiency in Ableton Live, Max & Max for Live, virtual synthesizers such as Serum, 
          and mainstream audio plugins such as Fabfilter, Kontakt, etc. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
